
# Created by https://www.gitignore.io/api/vapor

### Vapor ###
Config/secrets

### Vapor Patch ###
Packages

# End of https://www.gitignore.io/api/vapor
Package.resolved

# Mac Noise
.build
xcuserdata
DerivedData/
.DS_Store
*/.DS_Store
